<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hospital</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<%- include("partials/head") -%>
</head>
<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper">
    <%- include("partials/menu") -%>
  <!--\\\\\\\ wrapper Start \\\\\\-->
    <!--\\\\\\\left_nav end \\\\\\-->
    <div class="contentpanel">
      <!--\\\\\\\ contentpanel start\\\\\\-->
      <div class="pull-left breadcrumb_admin clear_both">
        <div class="pull-left page_title theme_color">
          <h1>Data Table</h1>
          <h2 class="">Subtitle goes here...</h2>
        </div>
        <div class="pull-right">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">TABLES</a></li>
            <li class="active">Data Table</li>
          </ol>
        </div>
      </div>

      <div class="container clear_both padding_fix">
        <!--\\\\\\\ container  start \\\\\\-->
      
      <div class="row">
                <div class="col-md-12">
                    <div class="block-web">
                        <div class="header">
                            <div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a><a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>
                            <h3 class="content-header">Nuevo Medicamento</h3>
                        </div>
                        <div class="porlets-content">
                            <% if (dataGRUPOa == null) {%>
                                <h1>Ocurrio un problema con el servidor por favor intenta volver a entrar en esta pagina desde una pestaña anterior</h1>
                            <% } else {%>	
                            <form action="/updateMedicamento/<%=resp[0].id%>" method="POST" parsley-validate novalidate>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Grupo de Asignación:</label>
                                        <select  name="grupoAsig">
                                            <option ><%=resp[0].grupoAsig%></option>
                                            <% for(var i=0; i< dataGRUPOa.length; i++) {%>
                                            <option><%=dataGRUPOa[i].descripcion%></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Generico:</label>
                                        <input type="text" name="generico" value="<%=resp[0].generico%>"class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Presentacion:</label>
                                        <input type="text" name="presentacion" value="<%=resp[0].presentacion%>" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Cantidad:</label>
                                        <input type="text" name="cantidad" value="<%=resp[0].cantidad%>" class="form-control">
                                    </div>
                                </div>  
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Codificación:</label>
                                        <input type="text" value="<%=resp[0].codificacion%>" name="codificacion" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Unidad de Medida:</label>
                                        <input type="text" name="unidadMedida" value="<%=resp[0].unidadMedida%>" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de Llegada:</label>
                                        <input type="date" name="fechaLLEgada" value="<%=resp[0].fechaLLEgada%>" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Cantidad por Unidades:</label>
                                        <input type="text" name="unidades" value="<%=resp[0].unidades%>" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nombre:</label>
                                        <input  type="text" name="nombre" value="<%=resp[0].nombre%>"  required class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Concentracion:</label>
                                        <input type="text" name="concentracion" value="<%=resp[0].concentracion%>" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de Vencimiento:</label>
                                        <input type="date" name="fechaVencimiento" value="<%=resp[0].fechaVencimiento%>" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Precio:</label>
                                        <input  type="text" name="precio" value="<%=resp[0].precio%>" class="form-control">
                                    </div>
                                </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-times"></i>  Guardar</button>
                                    <button class="btn btn-default"><i class="fa fa-floppy-o"></i> Cancelar</button>
                            </form>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
      </div>
      <!--\\\\\\\ container  end \\\\\\-->
    </div>
    <!--\\\\\\\ content panel end \\\\\\-->
  </div>
  <!--\\\\\\\ inner end\\\\\\-->
</div>
<!--\\\\\\\ wrapper end\\\\\\-->
<!-- Modal -->
<!-- /sidebar chats -->   


<!--Scripts-->
<%- include("partials/scripts") -%>

</body>
</html>
